@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main style="background-image: url('pics/pexels-photo-7130472.webp');background-color: gray; background-repeat: no-repeat; background-size: cover; background-position: center;">
        <div class="top-row px-4" style="background-color: #04163d;">
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>