@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main
        style="background-image: linear-gradient(125deg, #F1AAFF 0%, #300998  20%, #6357E5 70%, #AAE9EA);">
        <div class="top-row px-4" style="background-image: linear-gradient(90deg, #052767 0%, #3a0647 50%);">
            <div id="top-row-buttons">
                <a href="https://github.com/LegendsAndreas/kitchen-app" class="btn btn-outline-light" target="_blank">
                    Website Code
                </a>

                <a href="https://www.linkedin.com/in/andreas-christoffersen-22b1342ab/" class="btn btn-outline-light" target="_blank">
                    My LinkedIn
                </a>

                <a href="about" class="btn btn-outline-light">
                    About
                </a>
            </div>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>