@inherits LayoutComponentBase

@* @inject List<Recipe> recipes *@

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main style="background-image: url('pics/BackgroundImage.webp');background-color: gray; background-repeat: no-repeat; background-size: cover; background-position: center;">
        <div class="top-row px-4" style="background-color: #04163d;">
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code{

    protected override void OnInitialized()
    {
        // var img = File.ReadAllBytes("wwwroot/pics/PlaceHolderPic.jpg");
        // var base64PlaceHolderPic = Convert.ToBase64String(img);
        // Console.WriteLine(recipes.Count);
        /*recipes.Add(new Recipe
        {
            Number = 1,
            MealType = "D",
            Name = "Recipe 1",
            Image = base64PlaceHolderPic,
            TotalMacros = new Macros
            {
                Protein = 29,
                Fat = 66,
                Carbs = 39,
                Calories = 657
            }
        });
        recipes.Add(new Recipe
        {
            Number = 2,
            MealType = "D",
            Name = "Recipe 2",
            Image = base64PlaceHolderPic,
            TotalMacros = new Macros
            {
                Protein = 29,
                Fat = 66,
                Carbs = 39,
                Calories = 657
            }
        });
        recipes.Add(new Recipe
        {
            Number = 3,
            MealType = "D",
            Name = "Recipe 3",
            Image = base64PlaceHolderPic,
            TotalMacros = new Macros
            {
                Protein = 29,
                Fat = 66,
                Carbs = 39,
                Calories = 657
            }
        });
        recipes.Add(new Recipe
        {
            Number = 4,
            MealType = "D",
            Name = "Recipe 4",
            Image = base64PlaceHolderPic,
            TotalMacros = new Macros
            {
                Protein = 29,
                Fat = 66,
                Carbs = 39,
                Calories = 657
            }
        });
        recipes.Add(new Recipe
        {
            Number = 5,
            MealType = "D",
            Name = "Recipe 5",
            Image = base64PlaceHolderPic,
            TotalMacros = new Macros
            {
                Protein = 29,
                Fat = 66,
                Carbs = 39,
                Calories = 657
            }
        });
        recipes.Add(new Recipe
        {
            Number = 6,
            MealType = "D",
            Name = "Recipe 6",
            Image = base64PlaceHolderPic,
            TotalMacros = new Macros
            {
                Protein = 29,
                Fat = 66,
                Carbs = 39,
                Calories = 657
            }
        });
        recipes.Add(new Recipe
        {
            Number = 7,
            MealType = "D",
            Name = "Recipe 7",
            Image = base64PlaceHolderPic,
            TotalMacros = new Macros
            {
                Protein = 29,
                Fat = 66,
                Carbs = 39,
                Calories = 657
            }
        });
        recipes.Add(new Recipe
        {
            Number = 8,
            MealType = "D",
            Name = "Recipe 8",
            Image = base64PlaceHolderPic,
            TotalMacros = new Macros
            {
                Protein = 29,
                Fat = 66,
                Carbs = 39,
                Calories = 657
            }
        });*/
    }

}