@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main
        style="background-image: url('pics/BackgroundImage.webp');background-color: gray; background-repeat: no-repeat; background-size: cover; background-position: center;">
        <div class="top-row px-4" style="background-image: linear-gradient(90deg, #052767 0%, #3a0647 50%);">
            <div>
                <a href="https://github.com/LegendsAndreas/kitchen-app" class="btn btn-outline-light" target="_blank">
                    Website Code
                </a>

                <a href="https://www.linkedin.com/in/andreas-christoffersen-22b1342ab/" class="btn btn-outline-light"
                   target="_blank">
                    My LinkedIn
                </a>
                
                <NavLink href="about" id="about-link">
                    <span class="btn btn-outline-light">About</span>
                </NavLink>
            </div>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

