<div class="top-row ps-3 navbar navbar-dark" style="background-color: #052767">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Web Kitchen</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler"/>

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Recipes
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="create-recipe">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Create Recipe
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ingredients">
                <span class="bi bi-ingredients-nav-menu" aria-hidden="true"></span> Ingredients
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="edit">
                <span class="bi bi-edit-nav-menu" aria-hidden="true"></span> Edit
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="categories">
                <span class="bi bi-categories-nav-menu" aria-hidden="true"></span> Categories
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="random-meal">
                <span class="bi bi-random-recipe-nav-menu" aria-hidden="true"></span> Random Meal
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="plan-meals">
                <span class="bi bi-plan-nav-menu" aria-hidden="true"></span> Plan Meals
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="instructions">
                <span class="bi bi-instructions-nav-menu" aria-hidden="true"></span> Recipe Instructions
            </NavLink>
        </div>   

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="common-ingredients">
                <span class="bi bi-common-items-nav-menu" aria-hidden="true"></span> Common Ingredients
            </NavLink>
        </div>        
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="tray-converter">
                <span class="bi bi-tray-nav-menu" aria-hidden="true"></span> Tray Converter
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="dashboard">
                <span class="bi bi-dashboard-nav-menu" aria-hidden="true"></span> Dashboard
            </NavLink>
        </div>

        <div class="nav-item px-3">
            Icons by Icons8.
        </div>
    </nav>
</div>