.generel {
  &__border-layout {
    border-radius: 5px;
    border: 2px solid #48d7ff;
    position: relative;
  }

  &__font-layout {
    background-color: #212529;
    color: #48d7ff;
    font-family: "Calibri Light", serif;
    font-style: italic;
    font-weight: bold;
  }

  &__file-label {
    padding: 0.5em 1em;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
  }
}