.ingredients {
  &__form {
    background-color: #272B2F;
    padding: 25px;
    border-radius: 10px;
    border: 3px solid #48d7ff;
    color: #48d7ff;
    font-family: "Calibri Light", sans-serif;
    font-style: italic;
    font-weight: bold;
    
    &__col-margin {
      margin: 0 !important;
    }

    &__label-mobile {
      @media (max-width: 768px) {
        width: 100%;
      }
    }
    
    &__image-button-mobile {
      @media (max-width: 768px) {
        flex: none;
      }
    }
    
    @media (max-width: 768px) {
      text-align: center;
    }
  }
  &__pagination-buttons {
    
  }
}