<!DOCTYPE html>
<html lang="en" data-bs-theme="dark"> @* Best place dark mode here, which makes it apply to everything. *@

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="/"/>
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css"/> @* Starts at wwwroot. Links to the bootstrap css stuff. *@
    <link rel="stylesheet" href="app.css"/>
    <link rel="stylesheet" href="styles.css"/>
    <link rel="stylesheet" href="WebKitchen.styles.css"/>
    <link rel="icon" type="image/png" href="pics/SiteIcon.png"/>  @* Provided by Icons8 https://icons8.com/icons/set/scroll *@
    <HeadOutlet/>
</head>

<body>
<Routes/>
<script src="_framework/blazor.web.js"></script>
<script src="js/script.js"></script>
<script src="bootstrap/bootstrap.bundle.min.js"></script> @* Also starts at wwwroot. Links to the bootstrap JS stuff. *@
</body>

</html>