@inject IJSRuntime JsRuntime;
@inject DbService DbService;

<EditForm Model="@this">
    <label class="form-label fw-bold">Database Ingredient ID To Delete</label>
    <InputNumber id="name" @bind-Value="recipeId" class="form-control"/>
    <button type="submit" class="btn btn-primary" @onclick="HandleGettingDbIngredient">Get Ingredient</button>
</EditForm>


@if (currentIngredient != null)
{
    <div>
        <p>@currentIngredient.Name Database Image</p>
        <img src="data:image/png;base64,@currentIngredient.Base64Image" alt="Image" class="img-fluid"/>
    </div>

    <button type="button" class="btn btn-danger" @onclick="DeleteIngredient">Delete Ingredient</button>
}

<StatusMessageToast @ref="_statusMessageToaster"/>

@code{
    int recipeId;
    Ingredient? currentIngredient;
    StatusMessageToast _statusMessageToaster = null!;

    private async Task DeleteIngredient()
    {
        var result = await DbService.DeleteDbIngredientById(recipeId);
        await _statusMessageToaster.ShowToastAsync(result);
    }

    private async Task HandleGettingDbIngredient()
    {
        var result = await DbService.GetDbIngredientById(recipeId);
        if (result.Ingredient == null)
            await _statusMessageToaster.ShowToastAsync(result.Message);
        else
            currentIngredient = result.Ingredient;
    }

}