@inject DbService DbService;
@inject IJSRuntime JsRuntime

<EditForm Model="@_recipeId" OnSubmit="@HandleGettingRecipe">
    <label class="form-label fw-bold">Recipe ID to delete</label>
    <InputNumber id="name" @bind-Value="_recipeId" class="form-control"/>
    <button class="btn btn-primary" type="submit">Get Recipe</button>
</EditForm>

@if (_currentRecipe != null)
{
    <PreviewRecipe CurrentPreviewRecipe="@_currentRecipe"/>
    <button class="btn btn-danger" @onclick="HandleSubmit">Delete Recipe</button>
}

<!-- Are you sure modal -->
<div class="modal fade" id="are-you-sure" tabindex="-1" aria-labelledby="areYouSure" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="areYouSure">Confirmation</h5>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick="confirmAction(true)">
                    Yes
                </button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal" onclick="confirmAction(false)">No
                </button>
            </div>
        </div>
    </div>
</div>

<script>
    function showAreYouSureModal() {
        const modalElement = document.getElementById("are-you-sure");
        const modalInstance = new bootstrap.Modal(modalElement);
        modalInstance.show();
    }

    // Registering user's response (Yes or No) via JS Interop
    let confirmationResolve;
    window.waitForUserConfirmation = function () {
        return new Promise((resolve) => {
            confirmationResolve = resolve;
        });
    };

    function confirmAction(userConfirmed) {
        if (confirmationResolve) {
            confirmationResolve(userConfirmed);
        }
    }
</script>

@code {

    int _recipeId;
    Recipe? _currentRecipe;
    [Parameter] public EventCallback<string> OnToastMessage { get; set; }

    private async Task HandleGettingRecipe()
    {
        Console.WriteLine("Handling getting recipe...");
        var result = await DbService.GetRecipeByIdAsync(_recipeId);
        if (result.Recipe == null)
            await OnToastMessage.InvokeAsync(result.Message);
        else
            _currentRecipe = result.Recipe;
    }

    private async Task HandleSubmit()
    {
        Console.WriteLine("Handling submit delete recipe...");

        if (await AreYouSure())
        {
            var statusMessage = await DbService.DeleteRecipeById(_recipeId);
            await OnToastMessage.InvokeAsync(statusMessage);
            _currentRecipe = null;

            Console.WriteLine(statusMessage);
        }

        StateHasChanged();
    }

    private async Task<bool> AreYouSure()
    {
        await JsRuntime.InvokeVoidAsync("showAreYouSureModal");
        // Wait for the user's response (true/false)
        return await JsRuntime.InvokeAsync<bool>("waitForUserConfirmation");
    }

}