@using WebKitchen.Components.Pages.SharedComponents;
@inject IJSRuntime JsRuntime;
@inject DBService DbService;

<div>
    <label class="form-label fw-bold">Database Ingredient ID To Delete</label>
    <InputNumber id="name" @bind-Value="recipeId" class="form-control"/>
</div>

<button type="submit" class="btn btn-primary" @onclick="HandleGettingDbIngredient">Get Ingredient</button>

@if (currentIngredient != null)
{
    <div>
        <p>@currentIngredient.Name Database Image</p>
        <img src="data:image/png;base64,@currentIngredient.Base64Image" alt="Image" class="img-fluid"/>
    </div>
    
    <button type="button" class="btn btn-danger" @onclick="DeleteIngredient">Delete Ingredient</button>
}

<StatusMessageToast @ref="StatusMessageToaster"/>

@code{
    int recipeId;
    Ingredient? currentIngredient;
    StatusMessageToast? StatusMessageToaster;

    private async Task DeleteIngredient()
    {
        var result = await DbService.DeleteDbIngredientById(recipeId);
        if (StatusMessageToaster != null)
            await StatusMessageToaster.ShowToastAsync(result);
    }

    private async Task HandleGettingDbIngredient()
    {
        var result = await DbService.GetDbIngredientById(recipeId);
        if (result.Ingredient == null)
        {
            if (StatusMessageToaster != null)
                await StatusMessageToaster.ShowToastAsync(result.Message);
        }
        else
        {
            currentIngredient = result.Ingredient;
        }
    }

}