@using WebKitchen.Services;
@inject Recipe CurrentRecipe;

<EditForm Model="@CurrentRecipe" OnValidSubmit="@HandleValidSubmit">
    <div>
        <label>Recipe Name</label>
        <InputText id="name" @bind-Value="CurrentRecipe.Name"/>
    </div>

    <div>
        <label>Recipe Meal Type</label>
        <InputText id="type" @bind-Value="CurrentRecipe.MealType"/>
    </div>
    <button class="btn btn-primary" type="submit">Update</button>
</EditForm>

@code{

    private async Task HandleValidSubmit()
    {
        await CurrentRecipe.CorrectRecipeAsync(CurrentRecipe.MealType, CurrentRecipe.Name);
        CurrentRecipe.Clear();
    }

}