@inject Recipe CurrentRecipe;
@inject DBService DbService;

<EditForm Model="@CurrentRecipe" OnValidSubmit="@HandleValidSubmit">
    <div>
        <label class="form-label fw-bold">Recipe Name</label>
        <InputText id="name" @bind-Value="CurrentRecipe.Name" class="form-control"/>
    </div>

    <div>
        <label class="form-label fw-bold">Updated Meal Type</label>
        <InputText id="type" @bind-Value="CurrentRecipe.MealType" class="form-control" maxlength="1"/>
        @* Since the meal type is only a single, we can limit it to just 1 character. *@
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
</EditForm>

@code{

    private async Task HandleValidSubmit()
    {
        await DbService.UpdateRecipeMealTypeByName(CurrentRecipe.MealType, CurrentRecipe.Name);
        CurrentRecipe.ClearRecipe();
    }

}