@inject Recipe CurrentRecipe;
@inject DBService DbService;

<EditForm Model="@CurrentRecipe" OnValidSubmit="@HandleValidSubmit">
    <div>
        <label class="form-label fw-bold">Current Recipe Name</label>
        <InputText id="name" @bind-Value="currentName" class="form-control"/>
    </div>

    <div>
        <label class="form-label fw-bold">Updated Recipe Name</label>
        <InputText id="type" @bind-Value="CurrentRecipe.Name" class="form-control"/>
    </div>
    <button class="btn btn-primary" type="submit">Update</button>
</EditForm>

@code{
    string currentName = string.Empty;

    private async Task HandleValidSubmit()
    {
        await DbService.UpdateRecipeNameByName(currentName, CurrentRecipe.Name);
        CurrentRecipe.ClearRecipe();
    }

}