@using WebKitchen.Components.SharedComponents
@inject DBService DbService

<label class="form-label fw-bold">Database Ingredient Id To Edit</label>
<InputNumber id="name" @bind-Value="_recipeId" class="form-control"/>

<button type="submit" class="btn btn-primary" @onclick="HandleGettingDbIngredient">Get Database Ingredient</button>

@if (_currentIngredient != null)
{
    <EditForm Model="@_currentIngredient" OnSubmit="@HandleSubmit">
        <label class="form-label fw-bold">Ingredient Name</label>
        <InputText @bind-Value="_currentIngredient.Name" class="form-control"/>

        <label class="form-label fw-bold">Ingredient Calories</label>
        <InputNumber @bind-Value="_currentIngredient.CaloriesPer100g" class="form-control"/>

        <label class="form-label fw-bold">Ingredient Carbs</label>
        <InputNumber @bind-Value="_currentIngredient.CarbsPer100g" class="form-control"/>

        <label class="form-label fw-bold">Ingredient Protein</label>
        <InputNumber @bind-Value="_currentIngredient.ProteinPer100g" class="form-control"/>

        <label class="form-label fw-bold">Ingredient Fats</label>
        <InputNumber @bind-Value="_currentIngredient.FatPer100g" class="form-control"/>

        <label class="generel__file-label mt-2" for="fileInput">Choose Image</label>
        <InputFile id="fileInput" OnChange="HandleImage" class="d-none"></InputFile>

        <button type="submit" class="btn btn-primary">Update Database ingredient</button>
    </EditForm>

    <div>
        <p>Database @_currentIngredient.Name Image</p>
        <img src="data:image/png;base64,@_currentIngredient.Base64Image" alt="Image" class="img-fluid"/>
    </div>
}

<StatusMessageToast @ref="_statusMessageToaster"/>

@code{

    int _recipeId;
    Ingredient? _currentIngredient;
    StatusMessageToast _statusMessageToaster = null!;

    private async Task HandleSubmit()
    {
        if (_currentIngredient != null)
        {
            _currentIngredient.PrintIngredient();
            var result = await DbService.UpdateDbIngredient(_currentIngredient);
            await _statusMessageToaster.ShowToastAsync(result);
        }
        else
        {
            Console.WriteLine("_currentIngredient is null.");
        }
    }

    private async Task HandleGettingDbIngredient()
    {
        var result = await DbService.GetDbIngredientById(_recipeId);
        if (result.Ingredient == null)
            await _statusMessageToaster.ShowToastAsync(result.Message);
        else
            _currentIngredient = result.Ingredient;
    }

    private async Task HandleImage(InputFileChangeEventArgs imageFile)
    {
        foreach (var image in imageFile.GetMultipleFiles())
        {
            if (!image.ContentType.Contains("image"))
            {
                Console.WriteLine($"\"{image.ContentType}\" is not allowed");
                // Popup message saying so.
                return;
            }

            try
            {
                if (_currentIngredient != null)
                    await _currentIngredient.SetIngredientImage(image);
            }
            catch (Exception ex)
            {
                Console.WriteLine("Error setting image: " + ex.Message);
                Console.WriteLine(ex.StackTrace);
            }
        }
    }

}