@using WebKitchen.Services;
@inject Recipe CurrentRecipe;
@inject DBService DbService;

<EditForm Model="@CurrentRecipe" OnValidSubmit="@HandleValidSubmit">
    <div>
        <label>Current Name</label>
        <InputText id="name" @bind-Value="currentName"/>
    </div>

    <div>
        <label>Updated Name</label>
        <InputText id="type" @bind-Value="CurrentRecipe.Name"/>
    </div>
    <button class="btn btn-primary" type="submit">Update</button>
</EditForm>

@code{
    string currentName = string.Empty;

    private async Task HandleValidSubmit()
    {
        await DbService.CorrectRecipeNameAsync(currentName, CurrentRecipe.Name);
        CurrentRecipe.ClearRecipe();
    }

}