@page "/about"
<PageTitle>About Recipes</PageTitle>

<div class="card border-layout">
    <div class="card-body">
        <h1>About Recipes</h1>

        <p>This is a macro tracker app, designed by yours truly Andreas Ø. Christoffersen.</p>
        <h3><u>The database</u></h3>
        <p>The database is run by Neon.Tech, on a free subscription. As a result, you might get a "Your project has
            exceeded the data transfer quota. Upgrade your plan to increase limits". I am currently figuring out how to
            host my own Postgres server with Proxmox.</p>
        <p>The Database setup is can be seen pictured below:</p>
        <img src="pics/DatabaseDiagram.png" alt="Ops..." style="width: 65%"/>
        <p></p>
    </div>
</div>

@code {
    
}
