@page "/developer"
@rendermode InteractiveServer
@using WebKitchen.Components.SharedComponents;
@inject DBService DbService;

@*<button @onclick="Handle">Click me</button>

@code {

    public async Task Handle()
    {
        var recipes = await DbService.TestAsync();
        foreach (Recipe recipe in recipes)
        {
            recipe.PrintRecipe();
        }
    }
}*@