@page "/developer"
@rendermode InteractiveServer
@using WebKitchen.Components.Pages.RealTimeSearchBarElement;
@inject DBService DbService

<button type="button" @onclick="GetUser">Get User</button>
@if(user != null)
{
    <h1>@user.Username</h1>
    foreach (var recipe in user.Recipes)
    {
        <p>@recipe.Name</p>
    }
}
<h1>@message</h1>

@code{

    User? user = new User();
    string message = "";

    private async Task GetUser()
    {
        var result = await DbService.GetUserByUsernameAndPassword("Tommy21", "passy");
        user = result.User;
        message = result.Message;
    }

}
