@page "/developer"
@rendermode InteractiveServer
@using WebKitchen.Components.SharedComponents;
@inject DBService DbService;

<button @onclick="Handle">Click me</button>

@code {

    public async Task Handle()
    {
        await DbService.RecalibrateRecipes();
    }
}