@page "/developer"
@rendermode InteractiveServer
@using WebKitchen.Components.Pages.RealTimeSearchBarElement;
@inject DBService DbService

<button type="button" class="btn btn-primary" @onclick="HandlePath6">Get path 6</button>

@code{

    ErrorService.Logger logger = new();
    
    private void HandlePath6()
    {
        logger.SetPath("TestFolder", "TestLog");
        logger.Log("TEST","Test message");
    }

}
