@page "/recipe-details"
@rendermode InteractiveServer
@using WebKitchen.Components.Pages.SharedComponents
@inject DBService DbService
@inject SharedRecipe SharedDetailedRecipe
<PageTitle>Recipe Details</PageTitle>

@if (sharedRecipe != null)
{
    <div class="container border-layout" id="recipe-details">
        @* Col one *@
        <div class="content" style="display: inline-flex; justify-content: flex-start; align-items: flex-start;">
            <div id="column-1">
                <div id="recipe-image">
                    <img src="data:image/png;base64,@sharedRecipe.Base64Image" alt="Recipe Image is gone..."
                         id="recipe-image-style"/>
                </div>

                <div id="recipe-ingredients">
                    <h4>Ingredients</h4>
                    <ul class="food-list">
                        @foreach (var ingredient in sharedRecipe.Ingredients)
                        {
                            <li>
                                <span class="label">@ingredient.Name&nbsp;</span>
                                <span class="dots"></span>
                                <span class="value">&nbsp;@ingredient.Grams.ToString(".00")g</span>
                            </li>
                        }
                    </ul>
                </div>

                <div id="recipe-macros">
                    <h4>Macros</h4>
                    <ul class="food-list">
                        <li>
                            <span class="label">Protein&nbsp;</span>
                            <span class="dots"></span>
                            <span class="value">&nbsp;@sharedRecipe.TotalMacros.Protein.ToString(".00")g</span>
                        </li>
                        <li>
                            <span class="label">Fat&nbsp;</span>
                            <span class="dots"></span>
                            <span class="value">&nbsp;@sharedRecipe.TotalMacros.Fat.ToString(".00")g</span>
                        </li>
                        <li>
                            <span class="label">Carbs&nbsp;</span>
                            <span class="dots"></span>
                            <span class="value">&nbsp;@sharedRecipe.TotalMacros.Carbs.ToString(".00")g</span>
                        </li>
                        <li>
                            <span class="label">Calories&nbsp;</span>
                            <span class="dots"></span>
                            <span class="value">&nbsp;@sharedRecipe.TotalMacros.Calories.ToString(".00")g</span>
                        </li>
                    </ul>
                </div>
            </div>

            @* Col two *@
            <div id="column-2">
                <h1 id="recipe-name">@sharedRecipe.Name</h1>

                <div id="recipe-instructions">
                    <ol>
                        @if (recipeInstructionRecord != null)
                        {
                            @if (recipeInstructionRecord.Instructions.Steps.Count > 0)
                            {
                                @foreach (var instruction in recipeInstructionRecord.Instructions.Steps)
                                {
                                    <li>@instruction.StepText</li>
                                }
                            }
                            else
                            {
                                <p>No instructions added</p>
                            }
                        }
                    </ol>

                </div>

                <div id="recipe-notes">
                    <h5>Notes</h5>
                    <ul>
                        @if (recipeInstructionRecord.Instructions.Notes.Count == 0)
                        {
                            <p>No notes added</p>
                        }
                        else
                        {
                            foreach (var note in recipeInstructionRecord.Instructions.Notes)
                            {
                                <li>@note</li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
}

<RecipeStatusToast @ref="recipeStatusToaster"/>

@code {
    Recipe sharedRecipe = new();
    RecipeStatusToast? recipeStatusToaster;
    RecipeInstructionRecord? recipeInstructionRecord = new();

    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine("Initializing recipe details...");
        if (SharedDetailedRecipe?.SelectedRecipe != null)
        {
            sharedRecipe = SharedDetailedRecipe.SelectedRecipe;

            if (sharedRecipe.RecipeId > 0)
            {
                recipeInstructionRecord = await DbService.GetRecipeInstructionByRecipeId(sharedRecipe.RecipeId);
                if (recipeInstructionRecord == null && recipeStatusToaster != null)
                    await recipeStatusToaster.ShowToastAsync("No instructions found/added.");
                else
                {
                    Console.WriteLine("Recipe instructions found...");
                    if (recipeInstructionRecord != null) recipeInstructionRecord.PrintRecipeInstructionsRecord();
                }
            }
        }
    }

}

