@page "/recipe-details"
@rendermode InteractiveServer
@inject SharedRecipe SharedDetailedRecipe
<PageTitle>Recipe Details</PageTitle>

@if (sharedRecipe != null)
{
    <div class="container border-layout" id="recipe-details">
        @* Col one *@
        <div class="content" style="display: inline-flex; justify-content: flex-start; align-items: flex-start;">
            <div id="column-1">
                <div id="recipe-image">
                    <img src="data:image/png;base64,@sharedRecipe.Base64Image" alt="Recipe Image is gone..."
                         id="recipe-image-style"/>
                </div>

                <div id="recipe-ingredients">
                    <h4>Ingredients</h4>
                    <ul class="food-list">
                        <li>
                            <span class="label">Tomat Puré&nbsp;</span>
                            <span class="dots"></span>
                            <span class="value">&nbsp;200g</span>
                        </li>
                        <li>
                            <span class="label">Spaghetti&nbsp;</span>
                            <span class="dots"></span>
                            <span class="value">&nbsp;100g</span>
                        </li>
                        <li>
                            <span class="label">Løg&nbsp;</span>
                            <span class="dots"></span>
                            <span class="value">&nbsp;50g</span>
                        </li>
                        <li>
                            <span class="label">Bacon&nbsp;</span>
                            <span class="dots"></span>
                            <span class="value">&nbsp;50g</span>
                        </li>
                        <li>
                            <span class="label">Percorino&nbsp;</span>
                            <span class="dots"></span>
                            <span class="value">&nbsp;25g</span>
                        </li>
                        <li>
                            <span class="label">Oregano&nbsp;</span>
                            <span class="dots"></span>
                            <span class="value">&nbsp;5g</span>
                        </li>
                        <li>
                            <span class="label">Garlic&nbsp;</span>
                            <span class="dots"></span>
                            <span class="value">&nbsp;6g</span>
                        </li>

                        @foreach (var ingredient in sharedRecipe.Ingredients)
                        {
                            <li>
                                <span class="label">@ingredient.Name&nbsp;</span>
                                <span class="dots"></span>
                                <span class="value">&nbsp;@ingredient.Grams g</span>
                            </li>
                        }
                    </ul>
                </div>

                <div id="recipe-macros">
                    <h4>Macros</h4>
                    <ul class="food-list">
                        <li>
                            <span class="label">Protein&nbsp;</span>
                            <span class="dots"></span>
                            <span class="value">&nbsp;@sharedRecipe.TotalMacros.Protein g</span>
                        </li>
                        <li>
                            <span class="label">Fat&nbsp;</span>
                            <span class="dots"></span>
                            <span class="value">&nbsp;@sharedRecipe.TotalMacros.Fat g</span>
                        </li>
                        <li>
                            <span class="label">Carbs&nbsp;</span>
                            <span class="dots"></span>
                            <span class="value">&nbsp;@sharedRecipe.TotalMacros.Carbs g</span>
                        </li>
                        <li>
                            <span class="label">Calories&nbsp;</span>
                            <span class="dots"></span>
                            <span class="value">&nbsp;@sharedRecipe.TotalMacros.Calories g</span>
                        </li>
                    </ul>
                </div>
            </div>

            @* Col two *@
            <div id="column-2">
                <h1 id="recipe-name">@sharedRecipe.Name</h1>

                <div id="recipe-instructions">
                    <ol>
                        @foreach (var instruction in instructions)
                        {
                            <li>@instruction</li>
                        }
                    </ol>

                </div>

                <div id="recipe-notes">
                    <h5>Notes</h5>
                    <ul>
                        @foreach (var note in notes)
                        {
                            <li>@note</li>
                        }
                    </ul>

                </div>
            </div>
        </div>
    </div>
}

@code {
    Recipe sharedRecipe = new();
    List<string> instructions = new();
    List<string> notes = new();

    protected override void OnInitialized()
    {
        sharedRecipe = SharedDetailedRecipe.SelectedRecipe;
        GetInstructions();
        GetNotes();
    }

    private void GetInstructions()
    {
        instructions.Add("Firstly...");
        instructions.Add("Secondly...");
        instructions.Add("Thirdly...");
        instructions.Add("Fourthly...");
        instructions.Add("Fifthly...");
        instructions.Add("Sixthly...");
    }

    private void GetNotes()
    {
        notes.Add("By the way...");
        notes.Add("Also...");
        notes.Add("Remember to...");
    }

}