@import "superstyles.css";
@import "superstyles/Generel.css";
@import "superstyles/RecipeDetails.css";
@import "superstyles/ingredients.css";
@import "superstyles/StatusMessageToast.css";
@import "superstyles/CommonIngredients.css";
@import "superstyles/RandomMeal.css";
@import "superstyles/Edit.css";

@media (max-width: 768px) {
    .edit-recipes-form {
        width: 100%;
    }
}

@media (min-width: 769px) {
    .edit-recipes-form {
        width: 25%;
    }
}

.center-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

/* Removes the increment buttons from the input number forms */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}