@import "superstyles.css";

/* General Layouts */
.border-layout {
    border-radius: 5px;
    border: 2px solid #48d7ff;
}

.font-layout {
    background-color: #212529;
    color: #48d7ff;
    font-family: "Calibri Light", serif;
    font-style: italic;
    font-weight: bold;
}

.header-padding {
    padding: 10px;
}

.forms-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.paddage {
    padding: 25px;
    margin: 10px;
}

/* Random Meal */
#random-meal-header {
    width: fit-content; /* Automatically fits the block of its content to fit it. */
    margin: 0 auto;
}

/* Create Recipe */
#create-recipe-header {
    display: inline-block;
}

/* Home */
#home-recipe-image:hover {
    opacity: 80%;
}

/*Recipe Details*/
/*You can change food-list back to macros-list and ingredients-list, if the time calls for it*/
.food-list {
    display: flex;
    flex-direction: column;
    gap: 0.5em; /* Adds space between list items */
    max-width: 300px; /* This add additional space between macros name and number */
}

.food-list li {
    display: flex;
    justify-content: space-between; /* Tells the program to add space between the elements */
}

.dots {
    flex: 2; /* Dots take up adjustable space */
    border-bottom: 0.2em dotted white; /* Create a line of dots */
    height: 1.1em; /* Align dots with text */
}

/* Instructions */
.instructions-button {
    margin: 10px;
}

#recipe-image-style {
    width: 50%;
    border-radius: 5px;
    margin: 5px;
}

#recipe-details {
    border-radius: 5px;
    background-color: #212529;
    font-size: 125%;
    /*    word-wrap: break-word;    !* Breaks long words to fit within a column *!
        word-break: break-word;   !* Ensures long words break correctly *!
        overflow-wrap: break-word; !* Provides additional compatibility *!*/
}

/*#recipe-details ul li {
    word-wrap: break-word;    !* Breaks long words to fit within a column *!
    word-break: break-word;   !* Ensures long words break correctly *!
    overflow-wrap: break-word; !* Provides additional compatibility *!
}*/

/*Edit recipes forms*/
.custom-button-margin button {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}

/* These 2 media tags controls the width of the content of the "Edit" pages */
@media (max-width: 768px) {
    .edit-recipes-form {
        width: 100%;
    }
}

@media (min-width: 769px) {
    .edit-recipes-form {
        width: 25%;
    }
}

.toast-form {
    background-color: #272B2F;
    padding: 25px;
    border-radius: 10px;
    border: 3px solid #48d7ff;
    color: #48d7ff;
    font-family: "Calibri Light", sans-serif;
    font-style: italic;
    font-weight: bold;
}

/* For image inputs */
.hidden-file-input {
    display: none;
}

.file-label {
    padding: 0.5em 1em;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

#top-row-buttons {
}

#top-row-buttons a:hover {
    color: white;
    background-color: #3a0647;
}

#about-link span:hover {
    color: white;
    text-decoration: underline;
    background-color: #3a0647;
}

.center-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

/* Has to be used in a div, where the div has the element that you want to center. */
.center-element {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Removes the increment buttons from the input number forms */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}